
AccessModifierOffset: 0
AlignAfterOpenBracket: BlockIndent
AlignOperands: false
AllowAllArgumentsOnNextLine: true
BreakBeforeBraces: Attach
BreakConstructorInitializers: AfterColon
ColumnLimit: 0
ContinuationIndentWidth: 0
EmptyLineBeforeAccessModifier: LogicalBlock
IndentAccessModifiers: false
IndentWidth: 4
Language: Cpp
NamespaceIndentation: All
PackConstructorInitializers: CurrentLine
PointerAlignment: Middle
QualifierAlignment: Right
ReferenceAlignment: Middle
SortIncludes: Never
SpaceAfterCStyleCast: true
SpaceAroundPointerQualifiers: Both
SpaceAroundPointerQualifiers: Both
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: Always
SpaceBeforeSquareBrackets: true
UseTab: Never
